@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

:root {
    --cor1: #46B892; 
    --cor2: #7ACCB6;
    --cor3: #44B39C;
    --cor4: #42C9B7; 
    --cor5: #3FBFB7;
}

body {
    background-repeat: no-repeat;
    background-color: var(--cor3);
    background-position: center;
    position: relative;
    background-size: cover;
}

header {
    text-align: center;
}

.div-header {
    text-align: center;
    max-width: 100%;
    margin-top: 20px;
}

.img-header {
    height: 100px;
    width: 100px;
	border: 2px solid #fff;
	border-radius: 50em;
	position: relative;
	align-items: center;
	text-decoration: none;
	padding: 0.5em 0.5em;
}

.h1-header {
    padding: 10px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.p-header {
    margin-bottom: -20px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.ul-nav {
    text-align: center;
    list-style:none ; 
    margin: 48px 0;  
}

.li-nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 12px;
    border-radius: 6px;
}

.li-nav:hover {
    background-color: var(--cor2);
    transition: .5s ease;
}

i {
    font-style: normal;
    padding: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
  }

a {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.container{
    text-align: center;
    width: 300px;
    margin: 20px auto;
}

footer {
    color: #fff;
}

footer > a:hover {
    font-weight: bold;
}
